How to use variables,identifier

In [7]:
1a=5
print(1a)
#var 1a throws an syntax error which means , numeric value are not allowed as 1st letter in variable naming
#this codes is not worked

SyntaxError: invalid decimal literal (1881863838.py, line 1)

In [13]:
a1=7
print(a1)
#numeric value can be placed anywhere accept 1st place in variable nameing

7

In [23]:
a12345=8
print(a12345)

8

Can we use special character in variables or in identifiers?
__________________________________________________________________________

In [26]:
#a=7
print(#a)

SyntaxError: incomplete input (2434045158.py, line 2)

In [28]:
&a=9
print(&a)

SyntaxError: invalid syntax (1978890632.py, line 1)

In [38]:
var#=9
print(var#)

SyntaxError: incomplete input (1922081355.py, line 2)

In [40]:
_var_=123
print(_var_)

123

as we can see above two examples showing  syntax error as we cannot assign any special character at any place in nameing of variables except "_"